#  <center> </center>
# <center>Trabajo Practico 1 </center>
### <center>Grupo 10 </center>
## Integrantes:
#### Alan Richmond
#### Flavian Ferré
#### Camila Lucia Avalos
#### Alan Mejia

Importando Librerias

In [62]:
#Manipulacion de datos
import pandas as pd
import numpy as np

# Seleccion de datos

Cargamos el archivo de datos en un dataframe de Pandas

In [63]:
df_properati = pd.read_csv('Datasets/properati_argentina_2021.csv')

Realizamos una copia del dataset sobre el cual vamos a trabajar para no alterar los datos originales

In [64]:
df_trabajo = df_properati.copy()

#cantidad de columnas y filas del df inicial

In [65]:
df_trabajo.shape

(460154, 20)

#Filtrado de los datos que se van a utilizar.

In [66]:
#filtrando solo las propiedades que esten publicadas en dolares
filtrado_de_moneda = (df_trabajo["property_currency"] == "USD")

In [67]:
#filtrando solo las propiedades que sean casa,ph y departamento
tipos_propiedad = ["Casa", "PH", "Departamento"]
filtrado_de_vivienda = (df_trabajo["property_type"].isin(tipos_propiedad))

In [68]:
#filtrando solo las propiedades que esten en Venta
filtrado_de_operacion = (df_trabajo["operation"] == "Venta")

In [69]:
#filtrando solo las propiedades que esten ubicadas en capital federal
filtrado_de_ubicacion = (df_trabajo["place_l2"] == "Capital Federal")

In [70]:
# Se juntan todos los filtrados que se tienen que cumplir
filtrados_unidos = filtrado_de_moneda & filtrado_de_vivienda & filtrado_de_operacion & filtrado_de_ubicacion

In [71]:
df_filtrado = df_trabajo[filtrados_unidos]

Cantidad de Filas y Columnas que quedaron luego de la filtracion

In [72]:
df_filtrado.shape

(94249, 20)

# Dividir en conjuntos de entrenamiento y prueba

In [73]:
total_filas = len(df_filtrado)
filas_entrenamiento = int(0.8 * total_filas)

conjunto_entrenamiento = df_filtrado[:filas_entrenamiento]
conjunto_prueba = df_filtrado[filas_entrenamiento:]

#Conjunto de entrenamiento

In [74]:
#Imprime las primeras filas del conjunto de entrenamiento
print("Conjunto de Entrenamiento:")
conjunto_entrenamiento.head()

Conjunto de Entrenamiento:

,id,start_date,end_date,created_on,latitud,longitud,place_l2,place_l3,place_l4,place_l5,place_l6,operation,property_type,property_rooms,property_bedrooms,property_surface_total,property_surface_covered,property_price,property_currency,property_title
25,CyZu6IaZgmQYGk8jmPajCg==,2021-09-09,2021-09-26,2021-09-09,NaN,NaN,Capital Federal,NaN,NaN,NaN,NaN,Venta,Casa,4.0,3.0,171.0,133.0,210000.0,USD,VENTA CASA LLAVE EN MANO - COSTA ESMERALDA
42,d3Z0MblSb2IMBoOBMGJEEQ==,2021-09-09,2021-09-26,2021-09-09,-34.637319,-58.361124,Capital Federal,Boca,NaN,NaN,NaN,Venta,Departamento,3.0,2.0,58.0,55.0,82900.0,USD,VENTA TRES AMBIENTES LA BOCA PISO ALTO
43,rL7qPkQnomsMGu2ViS3sBw==,2021-09-09,2021-09-28,2021-09-09,-34.628647,-58.361871,Capital Federal,Boca,NaN,NaN,NaN,Venta,Departamento,4.0,3.0,70.0,70.0,99000.0,USD,Departamento - 4 Ambientes - Catalinas Sur
49,vuX/ccLAMVml4qWRFcOJUA==,2021-09-09,2022-01-05,2021-09-09,-34.610027,-58.401934,Capital Federal,Once,NaN,NaN,NaN,Venta,Departamento,4.0,2.0,NaN,104.0,146000.0,USD,Venta departamento 4 ambientes Once
51,ZTtSCeqZ3HUgf5jjwEzRcw==,2021-09-09,2022-03-09,2021-09-09,-34.631621,-58.416825,Capital Federal,Boedo,NaN,NaN,NaN,Venta,PH,4.0,2.0,NaN,73.0,250000.0,USD,PH - Boedo

#Conjunto de Prueba

In [75]:
#Imprime las primeras filas del conjunto de pruebas
print("Conjunto de Prueba:")
conjunto_prueba.head()

Conjunto de Prueba:

,id,start_date,end_date,created_on,latitud,longitud,place_l2,place_l3,place_l4,place_l5,place_l6,operation,property_type,property_rooms,property_bedrooms,property_surface_total,property_surface_covered,property_price,property_currency,property_title
372676,dSC4wqerxQ5zoezS10hyig==,2021-08-24,2021-08-27,2021-08-24,-34.594832,-58.419821,Capital Federal,Palermo,NaN,NaN,NaN,Venta,Departamento,1.0,1.0,26.0,26.0,64765.0,USD,MONOAMBIENTE EMPRENDIMIENTO PALERMO SOHO
372677,bObxHjQo1w/XUoA1CjdLtg==,2021-08-24,2021-08-24,2021-08-24,-34.585604,-58.423957,Capital Federal,Palermo,NaN,NaN,NaN,Venta,Departamento,1.0,NaN,32.0,30.0,110000.0,USD,Venta departamento en palermo monoambiente
372679,xIjDPpdsenrj6u6ErpdNhg==,2021-08-24,2021-08-27,2021-08-24,-34.582800,-58.442800,Capital Federal,Palermo,NaN,NaN,NaN,Venta,Departamento,1.0,1.0,36.0,32.0,93621.0,USD,VENTA 1 AMBIENTE de 32 a 66 m² -VIVIENDA/ ESTU...
372682,8b+kN4SeOF7UBH5dpfvg0Q==,2021-08-24,2021-10-18,2021-08-24,-34.577400,-58.433300,Capital Federal,Palermo,NaN,NaN,NaN,Venta,Departamento,2.0,1.0,42.0,38.0,79900.0,USD,VENTA DEPARTAMENTO 2 AMBIENTES EN PALERMO
372683,O1XW6eVlW04mfAkXRKePkQ==,2021-08-24,2022-03-21,2021-08-24,-34.575328,-58.420624,Capital Federal,Palermo,NaN,NaN,NaN,Venta,Departamento,2.0,NaN,47.0,41.0,155000.0,USD,DEPARTAMENTO DUPLEX 2 AMBIENTES CON 2 BALCONES...

#Cantidad de propiedades que quedaron en el conjunto de entrenamiento y de prueba

In [76]:
conjunto_entrenamiento.shape

(75399, 20)

In [77]:
conjunto_prueba.shape

(18850, 20)

# Exploracion del dataset

## Variables cuantitativas

Las variables que podemos identificar como cuantitativas son las siguientes : latitud, longitud, property_rooms, property_bedrooms, property_surface_total, property_surface_covered, property_price

In [78]:
variables_cuantitativas = ['latitud', 'longitud', 'property_rooms', 'property_bedrooms', 'property_surface_total', 'property_surface_covered', 'property_price']
medidas_de_resumen = pd.DataFrame(columns=variables_cuantitativas, index=['Promedia', 'Minimo', 'Cuartil 1', 'Mediana', 'Cuartil 3', 'Maximo', 'Moda', 'Varianza', 'Desviacion estandar', 'Rango intercuartilico'])

for i in variables_cuantitativas:
    promedia = conjunto_entrenamiento[i].mean()
    minimo = conjunto_entrenamiento[i].min()
    cuartil_1 = conjunto_entrenamiento[i].quantile(0.25)
    mediana = conjunto_entrenamiento[i].median()
    cuartil_3 = conjunto_entrenamiento[i].quantile(0.75)
    maximo = conjunto_entrenamiento[i].max()
    moda = conjunto_entrenamiento[i].mode().iloc[0]
    varianza = conjunto_entrenamiento[i].var()
    desviacion_estandar = conjunto_entrenamiento[i].std()
    rango_intercuartilico = cuartil_3 - cuartil_1
    medidas_de_resumen[i] = [promedia, minimo, cuartil_1, mediana, cuartil_3, maximo, moda, varianza, desviacion_estandar, rango_intercuartilico]
    
medidas_de_resumen

,latitud,longitud,property_rooms,property_bedrooms,property_surface_total,property_surface_covered,property_price
Promedia,-34.590513,-58.450914,2.829121,2.020331,109.429049,87.049255,2.296489e+05
Minimo,-41.168947,-71.471192,1.000000,1.000000,10.000000,1.000000,5.000000e+03
Cuartil 1,-34.615609,-58.466057,2.000000,1.000000,45.000000,40.000000,9.600000e+04
Mediana,-34.595590,-58.438623,3.000000,2.000000,65.000000,58.000000,1.450000e+05
Cuartil 3,-34.577334,-58.408709,4.000000,3.000000,105.000000,89.000000,2.400000e+05
Maximo,-24.372960,-54.133330,40.000000,70.000000,137000.000000,217000.000000,2.140000e+07
Moda,-34.541250,-58.472966,3.000000,1.000000,50.000000,40.000000,1.100000e+05
Varianza,0.031042,0.096155,2.062768,1.321424,841430.126498,879542.108192,1.063524e+11
Desviacion estandar,0.176186,0.310089,1.436234,1.149532,917.295005,937.839063,3.261172e+05
Rango intercuartilico,0.038274,0.057348,2.000000,2.000000,60.000000,49.000000,1.440000e+05

## Variables cualitativas

Las variables que podemos identificar como cualitativas son las siguientes : place_l2, place_l3, place_l4, place_l5, place_l6, operation, property_type, property_currency, property_title

In [79]:
variables_cualitativas = ['place_l2', 'place_l3', 'place_l4', 'place_l5', 'place_l6', 'operation', 'property_type', 'property_currency', 'property_title']
frecuencias = pd.DataFrame(columns=variables_cualitativas, index=['Cantidad de valores posibles', 'Frequencia de cada valor'])

for i in variables_cualitativas:
    cantidad = conjunto_entrenamiento[i].unique().shape[0]
    frecuencia_valores = conjunto_entrenamiento[i].value_counts()
    texto_frecuencias = ', '.join([f'{valor} : {frecuencia}' for valor, frecuencia in frecuencia_valores.items()])
    frecuencias[i] = [cantidad, texto_frecuencias]
    
frecuencias

,place_l2,place_l3,place_l4,place_l5,place_l6,operation,property_type,property_currency,property_title
Cantidad de valores posibles,1,58,5,1,1,1,3,1,45123
Frequencia de cada valor,Capital Federal : 75399,"Palermo : 11598, Belgrano : 7263, Caballito : ...","Palermo Hollywood : 1308, Palermo Chico : 932,...",,,Venta : 75399,"Departamento : 64841, PH : 7237, Casa : 3321",USD : 75399,"Departamento - Palermo : 1279, Departamento - ..."

## Variables irrelevantes

Asi, podemos ver que las variables "place_l2", "operation" y "property_currency" son irrelevantes porque solo tienen una valor posible. Ademas, las variables "place_l5" y "place_l6" son vacias y no nos sirven para nada.
Las variables que también no nos van a servir para la prediccion del precio son "id", "property_title", "start_date", "end_date" y "created_on" porque permiten identificar una sola venta y no disponen de la informacion pertinente para caracterizar una propiedad.

In [80]:
conjunto_entrenamiento_reducido = conjunto_entrenamiento.drop(labels=["place_l2", "operation", "property_currency", "place_l5", "place_l6", "id", "property_title", "start_date", "end_date", "created_on"], axis=1)
conjunto_entrenamiento_reducido

,latitud,longitud,place_l3,place_l4,property_type,property_rooms,property_bedrooms,property_surface_total,property_surface_covered,property_price
25,NaN,NaN,NaN,NaN,Casa,4.0,3.0,171.0,133.0,210000.0
42,-34.637319,-58.361124,Boca,NaN,Departamento,3.0,2.0,58.0,55.0,82900.0
43,-34.628647,-58.361871,Boca,NaN,Departamento,4.0,3.0,70.0,70.0,99000.0
49,-34.610027,-58.401934,Once,NaN,Departamento,4.0,2.0,NaN,104.0,146000.0
51,-34.631621,-58.416825,Boedo,NaN,PH,4.0,2.0,NaN,73.0,250000.0
...,...,...,...,...,...,...,...,...,...,...
372671,-34.582800,-58.442800,Palermo,NaN,Departamento,1.0,NaN,36.0,32.0,98514.0
372672,-34.590332,-58.420135,Palermo,NaN,Departamento,4.0,3.0,81.0,72.0,200000.0
372673,-34.576232,-58.441949,Palermo,NaN,Departamento,3.0,2.0,62.0,57.0,130000.0
372674,-34.582800,-58.442800,Palermo,NaN,Departamento,1.0,NaN,36.0,32.0,100273.0
372675,-34.584076,-58.415895,Palermo,NaN,Departamento,4.0,2.0,131.0,128.0,480000.0

In [81]:
# Falta la "Análisis gráfico de distribuciones de variables más relevantes" y la "Análisis de correlaciones existantes" para la parte a