# <center> Trabajo Practico 2 </center>
### <center> Grupo 10 </center>
## Integrantes:
#### Alan Richmond
#### Flavian Ferré
#### Alan Mejia

# 0. Importaciones

## Librerias

In [39]:
import pandas as pd
import datetime
import joblib

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from xgboost import XGBClassifier
from sklearn.metrics import f1_score

## Conjuntos

In [31]:
conjunto_train = pd.read_csv('Datasets/train.csv')
conjunto_test = pd.read_csv('Datasets/test.csv')
sample_solution = pd.read_csv('Datasets/sample_solution.csv')

# 1. Bayes Naïve

# 2. Random Forest

# 3. XGBoost

In [32]:
conjunto_train

          ID                                          review_es sentimiento
0          0  Uno de los otros críticos ha mencionado que de...    positivo
1          1  Una pequeña pequeña producción.La técnica de f...    positivo
2          2  Pensé que esta era una manera maravillosa de p...    positivo
3          3  Básicamente, hay una familia donde un niño peq...    negativo
4          4  El "amor en el tiempo" de Petter Mattei es una...    positivo
...      ...                                                ...         ...
49995  49995  Pensé que esta película hizo un buen trabajo a...    positivo
49996  49996  Mala parcela, mal diálogo, mala actuación, dir...    negativo
49997  49997  Soy católica enseñada en escuelas primarias pa...    negativo
49998  49998  Voy a tener que estar en desacuerdo con el com...    negativo
49999  49999  Nadie espera que las películas de Star Trek se...    negativo

[50000 rows x 3 columns]

In [33]:
X = conjunto_train['review_es']
y = conjunto_train['sentimiento'].map({'positivo': 1, 'negativo': 0})
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

vectorizer = TfidfVectorizer()
X_train_tfidf = vectorizer.fit_transform(X_train)
X_test_tfidf = vectorizer.transform(X_test)

xgb = XGBClassifier()
xgb.fit(X_train_tfidf, y_train)
y_pred = xgb.predict(X_test_tfidf)

f1 = f1_score(y_test, y_pred)
print(f'F1 Score: {f1}')

F1 Score: 0.8468205278021229

In [34]:
y_pred_labels = ['positivo' if pred == 1 else 'negativo' for pred in y_pred]

pred_df = pd.DataFrame({
    'ID': X_test.index,
    'Prediccion': y_pred_labels
})
pred_df

         ID Prediccion
0     33553   negativo
1      9427   positivo
2       199   negativo
3     12447   positivo
4     39489   negativo
...     ...        ...
9995  28567   negativo
9996  25079   positivo
9997  18707   positivo
9998  15200   negativo
9999   5857   positivo

[10000 rows x 2 columns]

In [35]:
conjunto_test

         ID                                          review_es
0     60000  La mayor virtud de esta película es su existen...
1     60001  No soy un experto cinéfilo, pero pocas veces m...
2     60002  Si no eres un incondicional del humor estilo T...
3     60003  No sé qué está pasando, si la gente se deja ll...
4     60004  Pero cuando amanece,y me quedo solo,siento en ...
...     ...                                                ...
8594  68594  Buena no, lo siguiente. Por fin un film serio ...
8595  68595  Me esperaba mucho, pero que mucho, más.Guión m...
8596  68596  De mal cuerpo como sensación al finalizar, de ...
8597  68597  Los que han añadido comentarios os lo han dich...
8598  68598  Fui a ver esta película de cine con entusiasmo...

[8599 rows x 2 columns]

In [43]:
conjunto_test = conjunto_test.set_index(conjunto_test['ID'])
X_conjunto_test = vectorizer.transform(conjunto_test['review_es'])

pred_test = xgb.predict(X_conjunto_test)
pred_test_labels = ['positivo' if pred == 1 else 'negativo' for pred in pred_test]

final_pred_df = pd.DataFrame({
    'sentimiento': pred_test_labels
})
final_pred_df.set_index(conjunto_test.index)

      sentimiento
ID
60000    negativo
60001    negativo
60002    negativo
60003    negativo
60004    negativo
...           ...
68594    positivo
68595    positivo
68596    positivo
68597    negativo
68598    negativo

[8599 rows x 1 columns]

In [44]:
current_date = datetime.datetime.now().strftime('%Y-%m-%d')

final_pred_df.to_csv(f"Predicciones/XGBoost_{current_date}.csv")

In [45]:
joblib.dump(xgb, f'Modelos/xgb_model_{current_date}.joblib')

['Modelos/xgb_model_2024-05-23.joblib']

# 4. Red Neuronal aplicando Keras y Tensor Flow

# 5. Ensamble de 3 modelos (o mas)